#fast-content-type-ui-list {
  width: auto;
}

#fast-content-type-ui-list thead {
  font-weight: bold;
}

#fast-content-type-ui-list tr td {
  padding: 0 0 0 1em;
}

#fast-content-type-ui-list tr td:first-child {
  padding-left: 0;
}